<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <blockchain_icanpay>
                <title>Credit Card Payment</title>
                <model>Blockchain\Icanpay\Model\Icanpay</model>
                <active>1</active>
                <cctypes>AE,VI,MC,DI</cctypes>
            </blockchain_icanpay>
        </payment>
    </default>
</config>

